@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 11px; /* Reduz tudo que é Tailwind para 75% do tamanho original */
}

/* Remove setas de input number */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}